# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# Next.js production build files
.next/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local env files
.env*.local
vite/
drizzle.config.json


# vercel
package-lock.json

.env
.env.local
.env.*.local
.env.production
.env.development
.env.test
.envrc
.DS_Store
Thumbs.db

# Firebase service account keys
firebase-adminsdk.json
serviceAccountKey.json

# Editor/IDE folders
.idea/
.vscode/
.cursor/
.idx/

# Log and temp files
*.log
*.tmp
*.bak

# SSL keys/certs
*.pem
*.crt
*.key
Lighthouse Secondhand report.pdf
LIGHTHOUSE.MD
